<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<!-- <nav th:replace="fragments :: navigation"></nav> -->

<h1 th:if="${user}" th:text="|Hello ${user.username}|">Hello  </h1>
<h3>Users</h3>
<ul style="list-style-type:none"> <!-- th:object="${user}" th:field="*{user}" -->
    <li th:each="user : ${users}"><a th:href="@{'/user/details/' + ${user.userId}}" th:text="${user.username}">edit</a></li>
</ul>
</body>
</html>
